<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; NestNow Private Limited</div>
        <div class="f-info-links">
            <a class="a" href="/about">About</a>|
            <a class="p" href="/privacy">Privacy</a>|
            <a class="t" href="/terms">Terms</a>
        </div>
    </div>
</footer>